body {
  background-color: #F7EDDB;
}

.title {
  text-align: center;
}
.carousel-item {
  text-align: center;
}

.card-header {
  background-color: #CCD6A6;
}

.card-body {
    background-color: #DAE2B6;
}
